<div class="card-container app-content">
  <md-card class="auth-content">
    <md-card-title class="auth-title">{{title}}</md-card-title>
    <md-card-subtitle class="auth-subtitle">
      <a routerLink="/login" *ngIf="authType == 'register'">Have an account?</a>
      <a routerLink="/register" *ngIf="authType == 'login'">Need an account?</a>
    </md-card-subtitle>
    <md-card-content>
      <list-errors [errors]="errors"></list-errors>
      <form (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <md-input
                name="username"
                [(ngModel)]="credentials.username"
                placeholder="Username"
                class="form-control form-control-lg"
                type="text"
                *ngIf="authType == 'register'"></md-input>
            </fieldset>
            <fieldset class="form-group">
              <md-input
                name="email"
                [(ngModel)]="credentials.email"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text"></md-input>
            </fieldset>
            <fieldset class="form-group">
              <md-input
                name="password"
                [(ngModel)]="credentials.password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password"></md-input>
            </fieldset>
            <button md-button class="auth-button" type="submit">
              {{ title }}
            </button>
          </fieldset>
        </form>
    </md-card-content>
  </md-card>
</div>